html * {
    font-family: 'Roboto', sans-serif;
}

.card {
    margin: 0 2%;
}

.card a {
    color: #000;
}

#search {
    background-color: #dcdcdc;
    float: right;
    clear: both;
}

#searchContent {
    margin: 2% 2% 2% 2%;
}

.pageContainer {
    height: 100vh;
    position: relative;
    margin-left: auto;
}

@media only screen and (max-width: 750px) {

}

h1 {
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: 0;
}

button.ghost {
    background-color: transparent;
    border-color: #fff;
}

form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: 0;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show .6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform .6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform .6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #727272;
}

#main {
    width: 35%;
    margin: 50px auto;
}

#tab-btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: center;
}

.login,
.register {
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #37474f;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

.active {
    background-color: #eee;
    color: #000;
}

.content,
.other {
    width: 100%;
    background-color: #eee;
    padding: 20px 30px 30px;
    box-shadow: 2px 2px 5px #333;
}

.other {
    display: none;
}

.inp {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 20px;
    border: 2px solid #888;
    border-bottom: 5px solid #888;
    background-color: #fff;
    color: #666;
}

.inp:focus {
    outline: 0;
    border: 2px solid #555;
    border-bottom: 5px solid #555;
}

#sub-btn {
    width: 100%;
    padding: 12px;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    border-bottom: 5px solid #444;
}

#sub-btn:focus {
    outline: 0;
}

#sub-btn:active {
    border: 0;
    margin-top: 5px;
}

#forgot {
    font-size: 20px;
    color: #444;
    display: block;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
    color: #333;
    font-size: 30px;
    font-variant: small-caps;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #727272;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row2 {
    margin-left: auto;
    margin-right: auto;
}

.homeHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/hero.jpg);
    height: 120vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
}

.headertitle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headertitle h1 {
    color: white;
}

.test {
    padding: 0rem 5rem;
    background-color: white;
}

.dd {
    background-color: white;
}

.insideDiv {
    background-color: #fff;
    position: relative;
    bottom: 100px;
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.25);
}

.norcol {
    padding: 0 1rem;
}

.norcol h1 {
    margin-top: 3.5rem;
}

.norcol p {
    font-size: 90%;
    line-height: 145%;
    padding: 3%;
}

.piccol {
    background-color: #fd1111;
    padding: 3.5rem;
}

.piccol h1 {
    color: white;
}

h1 {
    color: #fd1111;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2px;
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
}

.btn {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 0;
    cursor: pointer;
}

.search_movie {
    margin-bottom: 2rem;
}

.wrapper {
    display: grid;
    margin: 2rem 0;
    padding: 0 5rem;
    grid-template-columns: 50% 50%;
}

.wrapper > div {
    padding: 1em;
}

.characterContent {
    background-color: red;
    color: white;
}

footer {
    background-color: red;
    padding: 2rem;
}

footer h1 {
    color: white;
}

.characterContent{
    background-color: red;
    color: white;
}

.Card-list{
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.Card-container {
    font-family: 'Barlow Condensed', Condensed;
    display: flex;
    flex-direction: column;
    background-color: red;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.Card-container a{
    color: white;
    text-decoration: none;
}
  
.Card-container:hover {
    transform: scale(1.05);
}



@media only screen and (max-width: 750px) {
    .test {
        padding: 1rem;
    }
}