html * {
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	
    background-color: #fff;
    color: #727272;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
	
}

.row{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row2{

    margin-left: auto;
    margin-right: auto;
}

.homeHeader{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../imgs/hero.jpg);
    height: 120vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;

}

.headertitle{
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.headertitle h1{
    color: white;
}

.test{
    padding: 0rem 5rem;
    background-color: white;
  
}

.dd{
    background-color: white;
}
.insideDiv{

    background-color: white;
    position: relative;
    bottom: 100px;
   
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.25);


}
/*
 box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
*/
.norcol{

    padding: 0 1rem;
   

}

.norcol h1{
    margin-top: 3.5rem;
  
}

.norcol p{
 
    font-size: 90%;
    line-height: 145%;
    padding: 3%;
}
/*#fd1111*/
.piccol{
    background-color: #fd1111;
    padding: 3.5rem;
}

.piccol h1{
    color: white;
}

h1{
    color: #fd1111;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2px;
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
}

.btn{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: none;
    cursor: pointer;

}


.search_movie{

    margin-bottom: 2rem;
}
.wrapper {
    display: grid;
    margin: 2rem 0;
    padding: 0 5rem;
    grid-template-columns: 50% 50%;
}

.wrapper>div {
    padding: 1em;

}

.characterContent{
    background-color: red;
    color: white;
}


footer{

    background-color: red;
    padding: 2rem;
}

footer h1{
    color: white;
}


@media only screen and (max-width: 750px){

    .test {
        padding: 1rem;
    }
}

